# Development
\[ProtoType\]Website/STT_KR/STT_KR_SAMPLE_WEB/static/private/hf_token.txt
\[ProtoType\]Website/STT_KR/STT_KR_SAMPLE_WEB/static/results/subtitle.srt
\[ProtoType\]Website/STT_KR/STT_KR_SAMPLE_WEB/static/assets/*.wav

# Environments
.venv
venv/
venv.bak/
