### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# macOS folder settings
.DS_Store

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Environments
venv/
env/
ENV/
.venv/
.pip/
